<div class="row">
	<div class="eight columns">
		<p></p>
		<iframe src="http://player.vimeo.com/video/33683303?title=0&amp;byline=0&amp;portrait=0" width="640" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="four columns">
		<p></p>
			<h2><%= PRODUCT_NAME %></h2>
			<div class="company_name">from <%=COMPANY_NAME%></div>
	</div>
</div>