<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || Mobipay%></title>
	<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="header">
	<div class="row">
		<div class="four columns">
			<a href="<%=SITE_URL %>">
				<h1><%= PRODUCT_NAME%></h1>
			</a>
		</div>
		<div class="eight columns hide-on-phones">
		      	<strong class="right">
		      		<a href="#">About us</a>
		      		<a href="#">Case Studies</a>
		      		<a href="#">Developers</a>
		      		<a class="small blue nice button src-download">Get your wallet</a>
				</strong>
		</div>
	</div>
</div>
<div class="container">
<%= yield %>
</div>
<footer class="row">
	    <section class="five columns">
	      <h6><strong>Made by <%= COMPANY_NAME%></strong></h6>
        <p><%= PRODUCT_INFO%></p>
	    </section>
	    
	    <section class="three columns">
	      <h6><strong>Using <%=PRODUCT_NAME%>?</strong></h6>
	      <p>Let us know how you're using <%=PRODUCT_NAME%> and we might feature you as an example! <a href="#">Get in touch →</a></p>
	    </section>
	    
	    <section class="four columns">
	      <h6><strong>Need some help?</strong></h6>
	      <p>For quick answers or help <a href="#">email us →</a></p>
	      
	      <ul class="block-grid three-up">
	      	<li>
		      <!-- Place this tag where you want the +1 button to render -->
				<!--div id="___plusone_0" style="height: 20px; width: 90px; display: inline-block; text-indent: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; "><iframe allowtransparency="true" frameborder="0" hspace="0" id="I1_1324072128895" marginheight="0" marginwidth="0" name="I1_1324072128895" scrolling="no" src="https://plusone.google.com/_/+1/fastbutton?url=http%3A%2F%2Ffoundation.zurb.com%2Fdocs%2Fgems.php%23rails&amp;size=medium&amp;count=true&amp;annotation=&amp;hl=en-US&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fwidget%2F__features__%2Frt%3Dj%2Fver%3DU5kGh5SKuHI.en_GB.%2Fsv%3D1%2Fam%3D!4EfSXeE4ZPeIc6DnWw%2Fd%3D1%2F#id=I1_1324072128895&amp;parent=http%3A%2F%2Ffoundation.zurb.com&amp;rpctoken=267427486&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe" style="width: 90px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; height: 20px; position: static; left: 0px; top: 0px; visibility: visible; " tabindex="-1" vspace="0" width="100%" title="+1"></iframe></div-->
				
				<!-- Place this render call where appropriate -->
				<script>
				 // (function() {
				   // var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    //po.src = 'https://apis.google.com/js/plusone.js';
				    //var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  //})();
				</script>
			</li>
			<li>
			
	      		<!--iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=foundationzurb" style="width:80px; height:20px;"></iframe-->
			</li>
			<li>
				<!--iframe src="http://www.facebook.com/plugins/like.php?app_id=273982815961057&amp;href=foundation.zurb.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowtransparency="true"></iframe-->
			</li>
		</ul></section></footer>
</body>
</html>