<div class="row">
<div class="twelve columns page_header">
	<%= link_to 'New Item', new_item_path, :class=>'right' %>
	<h2>Available items</h2>
</div>
<% @items.each do |items| %>
	<div class="three columns menu items">
		<h4><%= item.name%></h4>
		<h2><%= item.price %></h2>
		<div class="right" style="margin-top:50px">
			<%= link_to 'Show', menu  %>
			<%= link_to 'Edit', edit_menu_path(menu)%>
			<%= link_to 'Delete', menu, confirm: 'Are you sure you want to remove this menu?', method: :delete%>
		</div>
	</div>
<% end %>
</div>