<div class="row">
<div class="twelve columns page_header">
	<%= link_to 'Create New Menu', new_menu_path, :class=>'right' %>
	<h2>Available menus</h2>
</div>
<% @menus.each do |menu| %>
	<div class="three columns menu items">
		<h4><%= menu.name%></h4>
		<div class="right" style="margin-top:50px">
			<%= link_to 'Show', menu  %>
			<%= link_to 'Edit', edit_menu_path(menu)%>
			<%= link_to 'Delete', menu, confirm: 'Are you sure you want to remove this menu?', method: :delete%>
		</div>
	</div>

<%end%>
</div>