/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

#header{
	background: #222;
	border-bottom: solid 4px #00A5FF;
	padding: 15px 20px 13px 20px;
	h1{
		color: white;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: 800;
		margin-bottom:0px;
		a{
			color: white;
			font-weight: bold;
		}
	}
	strong{
		display: block;
		margin: 0;
		padding: 0;
		height: 14px;
		line-height: 14px;
		position: relative;
		bottom: 4px;
		a{
			line-height: 14px;
			color: white;
			font-weight: 500;
			padding-right: 12px;
			}
		a.button{
			padding: 4px 10px;
			font-weight: bold;
			}
		
	}
}

footer.row {
	margin-top: 80px;
	border-top: solid 1px #E6E6E6;
	padding-top: 20px;
}


div.company_name{
	font-family: 'Handlee', cursive, arial, serif;
	font-size: 30px;
}

.page_header{
	padding:10px;
}