// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu.items{
	padding:10px;
	height:100px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border-style:solid;
	border-color:#999;
	border-width:1px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px#999;
	box-shadow: 0 0 2px #999;
	&:hover {
		-moz-box-shadow: 0 0 5px #777;
		-webkit-box-shadow: 0 0 5px#777;
		box-shadow: 0 0 5px #777;		
	}
}